* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

body {
    background: black;
    color: #ccc;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body>* {
    flex: 0 0 auto;
}

.scrollbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#main {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

/*******************************************************************************
████████╗ ██████╗ ██████╗ ██████╗  █████╗ ██████╗
╚══██╔══╝██╔═══██╗██╔══██╗██╔══██╗██╔══██╗██╔══██╗
   ██║   ██║   ██║██████╔╝██████╔╝███████║██████╔╝
   ██║   ██║   ██║██╔═══╝ ██╔══██╗██╔══██║██╔══██╗
   ██║   ╚██████╔╝██║     ██████╔╝██║  ██║██║  ██║
   ╚═╝    ╚═════╝ ╚═╝     ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
*******************************************************************************/
.topbar {
    width: 100vw;
    background: rgba(255, 255, 255, 0.2);
}

.topbar>* {
    display: block;
}

/*******************************************************************************
 ██████╗ ██████╗ ███╗   ██╗████████╗██████╗  ██████╗ ██╗     ███████╗
██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██╔═══██╗██║     ██╔════╝
██║     ██║   ██║██╔██╗ ██║   ██║   ██████╔╝██║   ██║██║     ███████╗
██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██╗██║   ██║██║     ╚════██║
╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║╚██████╔╝███████╗███████║
 ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚══════╝
*******************************************************************************/
.ui {
    position: absolute;
    z-index: 3;
}

#controls {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
}

/*******************************************************************************
███╗   ███╗ █████╗ ██████╗
████╗ ████║██╔══██╗██╔══██╗
██╔████╔██║███████║██████╔╝
██║╚██╔╝██║██╔══██║██╔═══╝
██║ ╚═╝ ██║██║  ██║██║
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝
*******************************************************************************/
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(1px * var(--tileWidth) * var(--h-tiles));
    height: calc(1px * var(--tileHeight) * var(--v-tiles));
    align-self: center;
    margin-left: 50%;
    transform: translateX(-50%);
}

#map .layer {
    position: absolute;
    display: block;
}

#map .tile {
    position: absolute;
    display: block;
    z-index: calc(var(--layer) * var(--v-tiles) * 2 * var(--tileHeight) + var(--y) *2);
    background-position-x: calc(-1px * var(--tileset-x) * var(--tileWidth));
    background-position-y: calc(-1px * var(--tileset-y) * var(--tileHeight));
}

#map .layer.debug {
    display: none;
}

*[debug] .layer.debug,
*[debug-data] .layer.debug {
    display: block !important;
}

/*******************************************************************************
███████╗██████╗ ██████╗ ██╗████████╗███████╗███████╗
██╔════╝██╔══██╗██╔══██╗██║╚══██╔══╝██╔════╝██╔════╝
███████╗██████╔╝██████╔╝██║   ██║   █████╗  ███████╗
╚════██║██╔═══╝ ██╔══██╗██║   ██║   ██╔══╝  ╚════██║
███████║██║     ██║  ██║██║   ██║   ███████╗███████║
╚══════╝╚═╝     ╚═╝  ╚═╝╚═╝   ╚═╝   ╚══════╝╚══════╝
*******************************************************************************/
@keyframes player-glow {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 30px 5px yellow;
    }
    100% {
        box-shadow: none;
    }
 }

.me:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border-radius: 20%;
    animation: player-glow ease-in-out 3s infinite;
}

/*******************************************************************************
 ██████╗██╗  ██╗ █████╗ ████████╗
██╔════╝██║  ██║██╔══██╗╚══██╔══╝
██║     ███████║███████║   ██║
██║     ██╔══██║██╔══██║   ██║
╚██████╗██║  ██║██║  ██║   ██║
 ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝
*******************************************************************************/
#messages {
    list-style-type: none;
    margin: 4px 4px 4px 0;
    width: 40%;
    height: calc(100% - 8px);
    font-size: small;
    background: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    left: calc(16px - 40%);
    transition: .15s ease-out left;
    z-index: 2;
    border-radius: 0 8px 8px 0;
    border: 1px solid black;
    padding-inline-start: 4px;
}

#messages::-webkit-scrollbar {
    display: none;
}

#messages:hover {
    left: 0;
}

#messages>li:nth-child(odd) {
    background: rgba(0, 0, 0, 0.3);
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#player_list_div {
    position: absolute;
    margin-left:100px;
    border: white solid 1px;
    padding: 5px;
    width: 20%;
}
#player_list {
    list-style: none;
}

.move_done {
    color: green;
}

.waiting {
    color: red;
}

.pull_right {
    float: right;
}

/*******************************************************************************
██████╗ ███████╗██████╗ ██╗   ██╗ ██████╗
██╔══██╗██╔════╝██╔══██╗██║   ██║██╔════╝
██║  ██║█████╗  ██████╔╝██║   ██║██║  ███╗
██║  ██║██╔══╝  ██╔══██╗██║   ██║██║   ██║
██████╔╝███████╗██████╔╝╚██████╔╝╚██████╔╝
╚═════╝ ╚══════╝╚═════╝  ╚═════╝  ╚═════╝
*******************************************************************************/

*[debug] .tile {
    border: 1px solid blue;
    margin: -1px;
    box-sizing: content-box;
}
