* { box-sizing: border-box; }

html, body { margin: 0; padding: 0; width: 100%; height: 100%; position: absolute; }
body { background: purple; color: #ccc; display: flex; flex-direction: column; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

body > * { flex: 0 1 auto; }

.topbar { width: 100vw; background: rgba(255,255,255,0.2); }
.topbar > * { display: block; }

#map { position: relative; flex: 1 1 auto; width: calc(1px * var(--tileWidth) * var(--h-tiles)); height: calc(1px * var(--tileHeight) px * var(--v-tiles)); align-self: center;}
#map .layer { position: absolute; flex: 1 1 auto; display: flex; flex-direction: column; width: 100%; align-items: center; justify-content:flex-start; }
#map .row { display: flex; flex: 0 0 auto; flex-direction: row; }
#map .tile { display: block; flex: 0 0 auto; }

#form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
#input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
#input:focus { outline: none; }
#form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

#messages { list-style-type: none; margin: 0; padding: 0; z-index: 1; font-size: x-small; }
#messages > li { padding: 0.5rem 1rem; }


/**
 * Sprites can be positioned using the --y and --x variables
 * A sprite center will be over the tile center
 * It also needs the --frames variable that defines the number
 * of animations in the sprite sheet
 */
.sprite{ 
    /*The default width and height of spirites*/
    --sprite-width:48px;
    --sprite-height:48px;
    width: var(--sprite-width);
    height: var(--sprite-height); 

    top: calc(1px * var(--y) * var(--tileHeight) - var(--sprite-height) / 2 + 1px * var(--tileHeight) / 2);
    left: calc(1px * var(--x) * var(--tileWidth) - var(--sprite-height) / 2 + 1px * var(--tileWidth) / 2);

    position: absolute;
    animation-name: sprite;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: steps(var(--frames));
    transition: top 1s, left 1s;
}

.sprite.robot{
    background-image: url("sprites/Walk.png");
    --frames:3;
}


.sprite.left{
    background-position-y: calc(-1 * 100% * 1);
}
.sprite.up{
    background-position-y: calc(-1 * 100% * 2);
}
.sprite.down{
    background-position-y: calc(-1 * 100% * 0);
}
.sprite.right{
    background-position-y: calc(-1 * 100% * 3);
}
@keyframes sprite {
    from { background-position-x: 0px; }
    to { background-position-x: calc(-1 * 100% * var(--frames)) }
  }